@charset "utf-8";
/* CSS Document */
.go-gridTop-box .go-grid-game li{
	color:#9d8853;
	text-align: center;  
	font-size: 30px;
	font-weight: bold;
    position:absolute;
    width:45px; height:45px; border:3px solid #614a18;border-radius: 10px;
	background: linear-gradient(to bottom, #ddc086, #f7dca5 30%, #ddc086);
}

.go-gridTop-box .userKu-icon{
     position:absolute;
    /* top:70px !important;
    left:20px !important; */
    /* display:block;
    margin-left:65px; */
    width:50px;
    height:50px;
    background:url(../images/zillion-icon.png) no-repeat 5px 0px;
    z-index:7;
}
.go-gridTop-box .start-point{
    position:absolute;
    top:385px;
    left:165px;
    width:48px;
    height:53px;
    background:url(../images/start-icon.png) no-repeat center;
    z-index:6;
}
.go-gridTop-box .go-grid-game .grid-num1{top:50px;left:50px;}
.go-gridTop-box .go-grid-game .grid-num2{top:50px;left:100px;}
.go-gridTop-box .go-grid-game .grid-num3{top:50px;left:150px;}
.go-gridTop-box .go-grid-game .grid-num4{top:50px;left:200px;}
.go-gridTop-box .go-grid-game .grid-num5{top:50px;left:250px;}

.go-gridTop-box .go-grid-game .grid-num6{top:50px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num7{top:100px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num8{top:150px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num9{top:200px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num10{top:250px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num11{top:300px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num12{top:350px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num13{top:400px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num14{top:450px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num15{top:500px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num16{top:550px;left:300px;}
.go-gridTop-box .go-grid-game .grid-num17{top:550px;left:250px;}
.go-gridTop-box .go-grid-game .grid-num18{top:550px;left:200px;}
.go-gridTop-box .go-grid-game .grid-num19{top:550px;left:150px;}
.go-gridTop-box .go-grid-game .grid-num20{top:550px;left:100px;}
.go-gridTop-box .go-grid-game .grid-num21{top:550px;left:50px;}



.go-gridTop-box .go-grid-game .grid-num22{top:550px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num23{top:500px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num24{top:450px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num25{top:400px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num26{top:350px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num27{top:300px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num28{top:250px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num29{top:200px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num30{top:150px;left:0px;}
.go-gridTop-box .go-grid-game .grid-num31{top:100px;left:0px;}


