#projects {
    overflow: hidden;
}

.project {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0 15px 15px;
}
.project {
    float: left;
    width: 180px;
    height: 250px;
}
.grid {
    width: 660px;
    margin: 40px auto;
    position: relative;
}
div.projects {
    height: 750px;
}
div.projects {
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}
div.projects .controls {
    position: absolute;
    right: 0;
    bottom: 15px;
}
div.projects .controls {
    float: left;
    width: 180px;
    height: 250px;
}
.controls .mask {
    float: left;
    position: relative;
    background: url(../images/project_card_bg.png) no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div.projects .controls .bottom{
      -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
div.projects .controls .bottom {
    background: url(../images/project_card_bot_bg.png) no-repeat;
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 150px;
    height: 66px;
}

div.projects .controls .bottom+.bottom+.bottom {
    bottom: -3px;
}
div.projects .controls .bottom+.bottom {
    bottom: -6px;
}

div.projects .controls:hover .bottom+.bottom+.bottom {
    bottom: -8px;
}
div.projects .controls:hover .bottom+.bottom {
    bottom: -14px;
}
div.projects .controls:hover .bottom {
    bottom: -20px;
}


.project.ani0 {
    right: 474px;
    bottom: 260px;
}
.project.ani1 {
    right: 237px;
    bottom: 260px;
}
.project.ani2 {
    right: 0px;
    bottom: 260px;
}
.project.ani3 {
    right: 474px;
    bottom: 0px;
}

.project.ani4 {
    right: 237px;
    bottom: 0px;
}

.project.ani5 {
    right:0px;
    bottom: 0;
}
.project .front {
    background: url(../images/project_front_bg.png) no-repeat;
    display: table;
}
.project .back, .project .front {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.project .back {
    background: url(../images/project_back_bg.png) no-repeat;
}
.project .back, .project .front {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
}

.project, .project .back, .project .front, .socials a, .transform_holder .back, .transform_holder .front, .transform_holder .transform {
    -webkit-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -moz-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -o-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    -ms-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
}
.project {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}