html,
body {
    height: 100%;width: 100%;
    background: url('../img/bj.jpg');
    background-size:cover;
}

.details {
    z-index: 2;
    position: absolute;
    width: 350px;
    border-radius: 5px;
    height: 590px;
    background: -webkit-linear-gradient(#4defff6e, #4a24a747);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4defff6e, #4a24a747);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4defff6e, #4a24a747);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#4defff6e, #4a24a747);
    /* 标准的语法 */
    box-shadow: 0px 0px 5px#333333;
    top: 40%;
    left: 50%;
    margin-top: -180px;
    margin-left: -175px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    overflow-y: auto;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(128, 128, 128);
}

.detail {
    font-size: 2.1em;
    position: relative;
    top: 15%;
    left: 7%;
    color: color;
    font-weight: normal;
    width: 300px;
}

.topli {
    font-size: 0.8em;
    border: 1px solid transparent;
    height: 3em;
    line-height: 3em;
    margin: 1px -10px;
}

.topli:nth-child(odd) {
    background: #674ea547;
}

.topli:nth-child(even) {
    background: #6a52a8b2;

}

.nums {
    margin: auto 0.5em;
}

.vipname {
    margin-left: 3em;
}

#nums10 {
    margin-right: -0.1em;
}

#vipname10 {
    margin-right: 2.4em;
}

#nums1 {
    color: #FFD700;
}

#nums2 {
    color: silver;
}

#nums3 {
    color: #B87333;
}

.titletop {
    width: 5em;
    height: 1.4em;
    background: #ffa132;
    margin-top: -2.6em;
    margin-left: 3.5em;
    border-radius: 10em;
    margin-bottom: 1em;
}

.titletop>p {
    font-size: 20px;
    line-height: 32px;
    margin-left: 22px;
}

.dati{
    float: right;
    margin-right: 1em;
}

@media screen and (max-width: 467px) {
    #child_header {
        background-color: #9279cf47;
        border-bottom: #9279cf47 2px solid;
        height: 32px;
        padding: 8px 4%;
        width: 92%
    }

    #child_header .goback {
        float: left;
        width: 38%
    }

    #child_header .goback i {
        height: 32px;
        width: 24px;
        float: left;
        background: url(../img/little_icon.png) no-repeat center;
        background-position: -18px 11px
    }

    #child_header .current_location span,
    #child_header .next_operate span {
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        line-height: 36px;
        float: left
    }

    /* #child_header .current_location { } */
    #child_header .current_location a {
        display: block
    }

    #child_header .current_location span {
        font-size: 18px;
    }

    #child_header .next_operate {
        float: right
    }
}

.scores{
    float: right;
    margin-right: 2em;
}