#show {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    left: 0;
    top: 0;
    display: none
}

#tangchuang {
    width: 1000px;
    height: 410px;
    z-index: 1000;
    position: relative;
    margin: 10% auto 0;
    background: #fff
}

#tangchuang #close {
    width: 30px;
    height: 30px;
    right: -16px;
    top: -16px;
    background: url(../images/close.png) no-repeat center;
    position: absolute;
    cursor: pointer
}

#stitle {
    color: #fff;
    height: 35px;
    background: #c2aa92;
    line-height: 35px;
    text-indent: 20px;
    font-weight: bold;
    font-size: 14px
}