*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }  

body{margin:0 auto; background:#fff;font-size:16px;font-family:'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif; max-width:750px;}

#page{ }


.header{width:7.5rem;height:0.9rem; background:url(../images/header-m-bg.png); color:#fff;text-align:center; line-height:0.9rem; position:relative}

.header .logo{ display: inline-block;margin: 0 0 0 1.2rem; width:2.7rem; height: 100%;background: url(/static/img/logo240x80.png) center center no-repeat;background-size:cover;}
.header .search{background:url(../images/search.png) no-repeat;float:right;width:0.6rem;height:0.6rem;background-size:cover;margin: 0.15rem 0.3rem;}

/* 滚动公告 */


.zjdmain{ background:url(../images/bg.jpg) no-repeat; background-size:cover; width:100%; margin:0 auto; height:10rem; position:relative; overflow:hidden}

.main-num-box {
	background: url(../../images/main_num_box.jpg) bottom center no-repeat;
	background-size: cover;
	width: 6.25rem;
    height: 3.3rem;
    margin: 2.8rem auto 0.2rem auto;
    position: relative;
}
.num_mask {
	background: url(../../images/num_mask.png) 0rem 0rem no-repeat;
	background-size: cover;
    height: 1.48rem;
    width: 5.6rem;
    position: absolute;
    left: 0.3rem;
    top: 0.28rem;
    z-index: 9;
}
.num_box {
	height: 5.3rem;
    width: 6.25rem;
	position: absolute;
	z-index: 8;
	overflow: hidden;
	text-align: center;
	padding-left: 0.32rem;
}
.num {
	background: url(../../images/num.png) top center repeat-y;
	background-size: cover;
    width: 1.59rem;
    height: 2.7rem;
    float: left;
    margin: 0.26rem 0.12rem;
    margin-left: 0.13rem;
}
.slot-btn {
	background: url(../../images/btn_start.png) 0rem 0rem no-repeat;
	background-size: cover;
    width: 4rem;
    height: 1.35rem;
    position: absolute;
    margin: 3.6rem 0 0 1rem;
    cursor: pointer;
    clear: both;
}

.zjdmain .logined{ height:0.5rem; line-height:0.5rem; position:absolute; top:0rem; left: 50%; margin-left: -3.2rem; text-align:center; width:6.4rem; color:#deb558; font-size:0.2rem; z-index:10; display:none;background: #72180a; border:0.02rem solid #d4a43e;border-radius: 0.3rem}
.zjdmain .logined i{ color:#deb558; font-size:0.32rem; margin:0 0.05rem; display:inline-block;vertical-align:middle;}
.zjdmain .logined span{}
.zjdmain .logined b{ font-weight:normal; color:#fff100; font-size:0.24rem; margin: 0 0.05rem;}
.zjdmain .logined .btn{ width:0.7rem; height:0.36rem; line-height:0.36rem; display: inline-block; background:#e60014; color:#fff;border-radius:0.1rem; margin-left:0.1rem; display:inline-block;position:relative; vertical-align:top; margin-top:0.07rem;}

.wininfobg{ background:url(../images/wininfo.png) no-repeat; background-size:cover; width:5.98rem; height:1.25rem;  text-align:center;overflow:hidden; margin: 0 auto;margin-top:2rem;}
.wininfo{ width:5.3rem; height:0.5rem; margin-top:0.34rem; margin-left:0.4rem; overflow:hidden}
.wininfo ul{ line-height:0.5rem;}
.wininfo ul li{ color:#ffd5b3; font-size:0.2rem;}
.wininfo ul li em,.wininfo ul li i{ color:#fff100; font-weight:bold; font-style:normal; margin:0 0.05rem}

.content{background: #330c05; min-height:3rem; padding-bottom:0.3rem}
.content .title{background: url(../images/title.png) no-repeat; width: 2.77rem; height:0.3rem;line-height: 0.3rem; text-align: center;background-size: cover;margin: 0 auto;color: #fff;font-size: 0.3rem;font-weight: bold;margin-bottom: 0.15rem}
.content p{font-size: 0.16rem;color: #c7a176; line-height: 0.4rem;margin:0 0.65rem;}
.content img{width: 100%;}

.tclogin{ background:url(../../images/tclogin.png) no-repeat; background-size:cover; width:5.64rem; height:3.17rem; overflow:hidden; display:none}
.tclogin .user_name{ width:3.5rem; height:0.8rem;line-height:0.8rem; background:#fff4e4; border-radius:0.2rem; text-align:center; font-size:0.24rem; border:none; margin:0 auto; margin-top:0.68rem; display:block; color:#6c3114}
.tclogin .tcsub{ width:3.5rem; height:0.8rem;line-height:0.8rem; background:#f63d3d; border-radius:0.2rem; text-align:center; font-size:0.3rem; border:none; margin:0 auto; margin-top:0.68rem;display:block; color:#fff; font-weight:bold}

.tcwin{ background:url(../../images/tcwin.png) no-repeat; background-size:cover; width:5.64rem; height:6.44rem; overflow:hidden; text-align:center; display:none}
.tcwin .wintext{ margin-top:4.5rem; font-size:0.36rem; color:#5e2b17;}
.tcwin .wintext b{ color:#f63d3d; font-weight:normal}
.tcwin .makesure{ width:3rem; height:0.75rem; line-height:0.75rem; display:block; margin:0 auto; margin-top:0.2rem; background:#f63d3d; border:none; border-radius:0.2rem; color:#fff; font-size:0.3rem; position:relative;}


.layui-layer-nobg{box-shadow:0;}
.layui-layer-nobg .layui-layer-setwin{ right:0; top:0;}
.layui-layer-nobg .layui-layer-setwin .layui-layer-close2{ background:url(../../images/close.png) no-repeat; background-size:cover; width:0.68rem; height:0.68rem; display:block; right:-0.24rem; top:-0.24rem}
.layui-layer-nobg .layui-layer-setwin .layui-layer-close2:hover{background: url(../../images/close.png) no-repeat; background-size:cover;}



.hbcxcon{margin: 0 auto;height:10.45rem}
.hbcxcon .hbcxtitle{height:0.9rem;position: relative;line-height:0.9rem;text-align: center;color: #fff;font-size: 0.28rem;border-bottom: 1px solid #f83737; background: #b30000}
.hbcxcon .hbcxtitle .back{position: absolute;left:0.3rem;top: 0rem;background-size: cover; font-size:0.3rem; display:block; color:#deb558}
.hbcxcon .content table{width: 100%;border-collapse: collapse;}
.hbcxcon .content table tr th{height:0.9rem;line-height:0.9rem;color: #ffadad;font-size: 0.27rem; text-align:center;border:1px solid #f83737;border-top: none;}
.hbcxcon .content table tr td{height: 0.9rem;line-height:0.9rem;color: #ffffff;font-size: 0.27rem;text-align:center;border:1px solid #f83737;border-top: none;text-align:center}
.hbcxcon .content table tr td span{ color:#ffcf2e}

.pages{padding-top:0.2rem; text-align:center}
.pages span.total{ color:#fff; font-size:0.2rem; margin-right:0.2rem}
.pages a{ min-width:0.3rem;height:0.6rem; line-height:0.6rem; padding:0 0.1rem;background: #fff;display:inline-block;color:#64717b; font-size:0.2rem;border-radius:0.05rem; text-align:center; margin:0 0.05rem}

.pages a.on{color: #fff;background: #f83737;border-color: #46c972;}

.broadcast-win {
	background: url(/static/front/images/broadcast-win.png) no-repeat;
	background-size: cover;width: 5.5rem;height:6.27rem;overflow: hidden;text-align: center;display:block;
}
.broadcast-msg {
	margin-top: 4.3rem;color: #5e2b17;
}
.broadcast-msg span {
	color:#f63d3d;
}
.broadcast-win button {
	width: 3rem;height: 0.65rem;line-height: 0.65rem;display: block;margin: 0 auto;margin-top: 0.2rem;background: #f63d3d;border: none;border-radius: 0.1rem;color: #fff;font-size: 0.4rem;position: relative;cursor: pointer;
}