a {
    text-decoration: none;
}
.rules {
    padding: 50px 20px;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}

.loadingfa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    color: #444;
    position: absolute;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    top: 50%;
}

.animteeh {
    opacity: 0.2;
    transition: all ease 1.5s;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);

}

.animteeh.active {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.animts {
    opacity: 0.2;
    transition: all ease 1.5s;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);

}

.active .animts {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes rotate1 {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-webkit-keyframes rotate1 {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes rotate1 {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(-360deg)
    }
}

@-ms-keyframes rotate1 {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(-360deg)
    }
}

@-o-keyframes rotate1 {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(-360deg)
    }
}

.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate;
}

.xuanzhuan1 {
    animation: 5s linear 0s normal forwards infinite rotate;
    -webkit-animation: 5s linear 0s normal forwards infinite rotate;
    -moz-animation: 5s linear 0s normal forwards infinite rotate;
    -o-animation: 5s linear 0s normal forwards infinite rotate;
}

.nizhuan {
    animation: 2s linear 0s normal forwards infinite rotate1;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate1;
    -moz-animation: 2s linear 0s normal forwards infinite rotate1;
    -o-animation: 2s linear 0s normal forwards infinite rotate1;
}

.nizhuan1 {
    animation: 3s linear 0s normal forwards infinite rotate1;
    -webkit-animation: 3s linear 0s normal forwards infinite rotate1;
    -moz-animation: 3s linear 0s normal forwards infinite rotate1;
    -o-animation: 3s linear 0s normal forwards infinite rotate1;
}

@keyframes Updown {
    from {
        margin-top: -0.32rem;
    }
    to {
        margin-top: 0rem;
    }
}

.shangxia {
    animation: 1.4s 0s alternate none infinite running Updown;
}

.yaohuan {
    animation: 2.4s 0s alternate none infinite running swing;
}

.yaohuan1 {
    animation: 9.4s 0s alternate none infinite running swing;
}

.flash {
    animation: 2.4s 0s alternate none infinite running flash;
}

.wobble {
    animation: 20.4s 0s alternate none infinite running wobble;
}

.dtable {
    display: table;
    width: 100%;
    height: 100%;
}

.dcell {
    display: table-cell;
    vertical-align: middle;

}

body {
    background: url(../images/bg.jpg) no-repeat center top;
}

.header {
    height: 106px;
    background: url(../images/hei.png);
}

.inner {
    width: 1040px;
    margin: 0 auto;

}

.teimx {
    float: left;
    color: #898989;
    font-size: 12px;
}

.scbx {
    color: #898989;
    font-size: 12px;
}

.scbx a {
    color: #898989;
}

.teimx {
    padding-left: 22px;
    background: url(../images/time.png) no-repeat left center;
}

.logo {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 240px;
    text-align: center;
    padding-top: 31px;
    margin-left: -120px;
}

.nav li {
    float: left;
    width: 120px;
    text-align: center;
    line-height: 37px;
}

.nav li a {
    display: block;
    color: #fff;
}

.nav li:hover a {
    color: #000;
    background: url(../images/nvcur.png) no-repeat center top;

}

.nav li.cur a {
    color: #000;
    background: url(../images/nvcur.png) no-repeat center top;

}

.cshooci {
    text-align: center;
    font-size: 19px;
    color: #fff;
    line-height: 40px;
    padding-top: 295px;
    cursor: pointer;
}

.cshooci span {
    padding: 0px 6px;
    color: #fff000;
}

.jiangbx {
    width: 933px;
    height: 756px;
    background: url(../images/hubg.png) no-repeat center top;
    margin: 0 auto;
    position: relative;
}

.jiangbxin {
    width: 812px;
    height: 603px;
    position: relative;
    top: 61px;
    margin: 0 auto;
}

.jiam {
    position: absolute;
    width: 189px;
    height: 189px;

}

.jiangbxin .active {
    border: 5px solid #f00;
}

.jiam1 {
    left: 0px;
    top: 0px;
}

.jiam2 {
    left: 208px;
    top: 0px;
}

.jiam3 {
    left: 415px;
    top: 0px;
}

.jiam4 {
    left: 623px;
    top: 0px;;
}

.jiam5 {
    left: 0px;
    top: 207px;
}

.jiam6 {
    left: 208px;
    top: 207px;
    background: url(../images/j6.png) no-repeat center top;
    width: 396px;
}

.jiam7 {
    left: 623px;
    top: 207px;
}

.jiam8 {
    left: 0px;
    bottom: 0px;
}

.jiam9 {
    left: 208px;
    bottom: 0px;
}

.jiam10 {
    left: 415px;
    bottom: 0px;
}

.jiam11 {
    left: 623px;
    bottom: 0px;
}

.csinx {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 125px;
}

.houbx {
    width: 924px;
    height: 205px;
    background: url(../images/jiangtl.png) no-repeat center top;
    margin: auto;
}

.gd1 {
    width: 900px;
    margin: 0 auto;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.gd1 ul {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
}

.gd1 ul li {
    padding-left: 52px;
    color: #5a5a5a;
    float: left;
    width: 398px;
}

.contin {
    width: 940px;
    margin: 0 auto;
}

.tl1 {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 14px;
}

.tlenw {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 28px;
}

.tlbx {
    height: 68px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #5a5a5a;
    line-height: 30px;
    background: url(../images/tlbg.png) no-repeat center top;
    margin-top: 16px;
    margin-bottom: 14px;
}

.gsuibtl {
    width: 100%;
}

.gsuibtl td {
    text-align: center;
    line-height: 36px;
    border: 1px solid #5f5f5f;
    color: #5a5a5a;
}

.tabtou td {
    color: #000;
    font-size: 16px;
    background: #f0c783;
}

.vsmul {
    padding-left: 18px;
}

.vsmul li {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 28px;
}

.hong {
    color: red;
}

.cop {
    text-align: center;
    color: #5a5a5a;
    font-size: 12px;
    padding-top: 39px;
    padding-bottom: 6px;
}

.tanbx {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}


.tawinbx {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 20%;
    border-radius: 9px;
    overflow: hidden;
    min-height: 380px;
    background: #373737;
}
.tawinbx1 {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 20%;
    border-radius: 9px;
    overflow: hidden;
    min-height: 150px;
    background: rgba(0,0,0,0.6);
}

.tanentou {
    font-size: 18px;
    color: #1f1e1c;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 24px;
    background-image: -webkit-linear-gradient(bottom, #b8963d 15%, #fde180);
    background-image: -moz-linear-gradient(bottom, #b8963d 15%, #fde180);
    background-image: -o-linear-gradient(bottom, #b8963d 15%, #fde180);
    background-image: -ms-linear-gradient(bottom, #b8963d 15%, #fde180);
    background-image: linear-gradient(to top, #b8963d 15%, #fde180);
}

.closex {
    position: absolute;
    width: 29px;
    height: 29px;
    background: url(../images/cha.png) no-repeat center top;
    right: 5px;
    top: 4px;
}

.lells {
    text-align: center;
    padding-top: 32px;
    color: #fff;
    line-height: 30px;
}

.sahsibopt {
    background: #5a5a5a;
    width: 225px;
    height: 28px;
    border: 1px solid #777777;
}

.chast {
    width: 480px;
    text-align: center;
    margin: 0 auto;
    margin-top: 18px;
}

.chast td {
    height: 28px;
    border: 1px solid #6e6e6e;
    color: #fff;
}

.tashhtou td {
    color: #fcdb6a;
}
